@import "react_src/style/common.scss";
footer {
    color: $trim-font-color;
    background-color: $trim-bg-color;
    height: $footer-height;

    width: 100%;
    padding: 5px 15px;
    align-content: center;
    text-align: center;
}

