// ====== Colors: ======
// Common:

$trim-font-color: white;
$trim-bg-color: black;


// ====== Dimensions: ======
$navbar-height: 40px;
$footer-height: 30px;

$sidebar-initial-width: min(30%, 250px);